.aboutSection {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
}
.aboutContainer {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textSection {
    width: 600px;
}
.aboutContainer h2 {
    color: #d8de20;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
}
.aboutContainer p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
.aboutContainer img {
    width: 250px;
    height: 250px;
    box-shadow: 1px 1px 10px #505050;
}




@media (max-width: 1000px) and (min-width: 921px) {
    .aboutContainer {
        width: 95%;
    }
}
@media (max-width: 920px) and (min-width: 771px) {
    .aboutContainer {
        width: 95%;
    }
    .aboutContainer .textSection {
        margin-left: 30px;
    }
}
@media (max-width: 770px) {
    .aboutContainer {
        flex-direction: column;
    }
    .aboutContainer .textSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 90%;
        margin-top: 30px;
    }
}