.aboutSection {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #232323;
}
.aboutContainer {
    width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.textSection {
    width: 600px;
}
.aboutContainer h2 {
    color: #d8de20;
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    margin: 0;
    margin-bottom: 10px;
}
.aboutContainer p {
    font-size: 20px;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
}
.aboutContainer img {
    width: 250px;
    height: 250px;
}