@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    height: 100%;
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: #232323;
}

.highlightText {
    color: #d8de20;
}