.displaySection {
    min-height: 80vh;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.displayContainer {
    width: 960px;
}
.displaySection h1 {
    color: #d8de20;
    font-size: 60px;
    margin: 0;
    font-family: 'Lato', sans-serif;
}
.displaySection .subheading {
    color: #d8de20a6;
    font-size: 55px;
    margin: 0;
    margin-bottom: 30px;
    font-family: 'Lato', sans-serif;
}
.displaySection .description {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    width: 600px;
    font-family: 'Lato', sans-serif;
}







/* appear on page load */

.fade-appear {
    opacity: 0;
    z-index: 1;
}
.fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 2000ms linear;
}