.portfolioSection {
    min-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #232323;
}
.portfolioContainer {
    width: 960px;
}
.portfolioContainer h2 {
    color: #d8de20;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
}
.project,
.project2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.project h3,
.project p{
    text-align: left;
}
.project2 h3,
.project2 p {
    text-align: right;
}
.project img,
.project2 img {
    height: 100%;
    max-height: 200px;
    width: auto;
}
.projectBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.projectBody h3 {
    color: #d8de20;
    font-size: 30px;
    font-family: 'Lato', sans-serif;
}
.projectBody p {
    color: #ffffff;
    width: 700px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}